* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/background.jpg");
    display: flex;
    justify-content: center;
    color: rgb(247, 248, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    background-color: rgba(8, 35, 82, 0.95);
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: rgb(247, 248, 238);
    font-size: 2rem;
}

a:hover {
    color: gold;
}

.item {
    border: 6px solid transparent;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
}

.item:hover {
    border: 6px goldenrod groove;
}

.outer-border {
    margin-top: 3rem;
    width: 90%;
    border: 10px outset goldenrod;
    border-radius: 5px;
}

.container {
    width: 100%;
    height: 100%;
    border: 5px outset rgb(133, 99, 14);
    background-color: rgba(13, 52, 121, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 10rem;
}

.row1, .row2 {
    display: flex;
    gap: 1rem;
    font-size: 17.5px;
    background-color: rgba(10, 46, 107, 0.33);
    padding: 1rem;
    margin-bottom: 2rem;
}

.row1 img {
    max-width: 10rem;
}

.row2 img {
    max-width: 30rem;
}

.kep1, .kep2 {
    display: flex;
    align-items: center;
}

.cards-cont {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}

.card {
    border-radius: 12px;
    text-align: center;
    width: 12rem;
}

.card img {
    width: 100%;
    height: 14.6rem;
}

.decks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.9rem;
}

.deck {
    border-radius: 12px;
    text-align: center;
    width: 11rem;
    cursor: pointer;
}

.deck img {
    width: 100%;
    padding-bottom: 0;
}

.deck:hover {
    transform: scale(1.09);
}

hr {
    color: rgb(165, 123, 16);
    width: 98.38%;
    height: 5px;
    border-style: groove;
    background-color: goldenrod;
}

#deck-title {
    color: goldenrod;
    text-shadow: 1rem;
}

#deckscription {
    font-size: 1.487rem;
    margin: 1rem;
}
