* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/background.jpg");
    display: flex;
    justify-content: center;
    color: rgb(247, 248, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.outer-border {
    margin-top: 3rem;
    width: 90%;
    border: 10px outset goldenrod;
    border-radius: 5px;
}

.container {
    width: 100%;
    height: 100%;
    border: 5px outset rgb(133, 99, 14);
    background-color: rgba(13, 52, 121, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 10rem;
}

.row1, .row2 {
    display: flex;
    gap: 1rem;
    font-size: 17.5px;
    background-color: rgba(10, 46, 107, 0.33);
    padding: 1rem;
    margin-bottom: 2rem;
}

.row1 img {
    max-width: 10rem;
}

.row2 img {
    max-width: 30rem;
}

.kep1, .kep2 {
    display: flex;
    align-items: center;
}

.cards-cont {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}

.card {
    border-radius: 12px;
    text-align: center;
    width: 12rem;
}

.card img {
    width: 100%;
    height: 14.6rem;
}